<div class="container container-style" data-ng-init="init()">
  <div class="row">
    <p class="lead">API 추가</p>
  </div>
  <hr/>
  <div class="row form-group">
    <div class="col-xs-12">
      <label>프로젝트 목록</label>
      <div class="col-xs-12">
        <select class="form-control" data-ng-options="project.name for project in projectList" data-ng-model="mProject" data-ng-change="projectSelectChange(mProject)"></select>
      </div>
    </div>
  </div>
  <br/>

  <form name="form" data-ng-submit="apiCreate(api)">
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-12">
          <label>API 이름</label>
          <input class="form-control" name="name" type="text" data-ng-model="api.name" required/>
          <div data-ng-if="form.$submitted || form.name.$touched">
            <label class="text-danger" data-ng-if="form.name.$error.required">API 이름을 입력해 주세요.</label>
          </div>
        </div>
      </div>
    </div>
    <br/><br/>

    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-9">
        <label>주소 한꺼번에 입력</label>
        <input class="form-control-static checkbox-inline" type="checkbox" style="margin-left: 1em;" data-ng-model="api.isEditOnce"/>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-xs-12">
        <div class="col-xs-3">
          <label>HTTP 메소드</label>
          <div data-ng-switch="mHttpMethod.value">
            <div data-ng-switch-default>
              <select class="form-control" data-ng-options="httpMethod.key for httpMethod in httpMethods" data-ng-model="mHttpMethod" data-ng-change="httpMethodSelectChange(mHttpMethod)"></select>
            </div>
            <div data-ng-switch-when="etc">
              <input class="form-control" type="text" data-ng-model="api.httpMethod"/>
            </div>
          </div>
        </div>
        <div data-ng-switch="api.isEditOnce">
          <div data-ng-switch-default>
            <div class="col-xs-3">
              <label>prefix</label>
              <select class="form-control" data-ng-options="prefix.name for prefix in mProject.prefixes" data-ng-model="mPrefix" data-ng-change="prefixSelectChange(mPrefix)"></select>
            </div>
            <div class="col-xs-6">
              <label>URI</label>
              <input class="form-control" type="text" data-ng-model="api.uri"/>
            </div>
          </div>
          <div data-ng-switch-when="true">
            <div class="col-xs-9">
              <label>URL</label>
              <input class="form-control" type="text" name="url" data-ng-model="api.uri" required/>
              <div data-ng-if="api.isEditOnce && (form.$submitted || form.url.$touched)">
                <label class="text-danger" data-ng-if="form.url.$error.required">URL을 입력해 주세요.</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>

    <div class="row form-group">
      <div class="col-xs-12">
        <div class="col-xs-3">
          <label>파라미터 키</label>
        </div>
        <div class="col-xs-8">
          <label>파라미터 값</label>
        </div>
      </div>
      <div class="col-xs-12" data-ng-repeat="param in api.params">
        <div class="col-xs-3">
          <input class="form-control" type="text" data-ng-model="param.key" data-ng-change="paramKeyChange(param, $index, $last)"/>
        </div>
        <div class="col-xs-8">
          <input class="form-control" type="text" data-ng-model="param.value"/>
        </div>
        <div class="col-xs-1">
          <button class="btn btn-default" type="button" data-ng-click="paramInputDelete($index)" data-ng-hide="api.params.length == 1">x</button>
        </div>
      </div>
    </div>
    <br/>

    <div class="row form-group">
      <div class="col-xs-12">
        <div class="col-xs-3">
          <label>헤더 키</label>
        </div>
        <div class="col-xs-8">
          <label>헤더 값</label>
        </div>
      </div>
      <div class="col-xs-12" ng-style="" data-ng-repeat="header in api.headers">
        <div class="col-xs-3">
          <input class="form-control" type="text" data-ng-model="header.key" data-ng-change="headerKeyChange(header, $index, $last)"/>
        </div>
        <div class="col-xs-8">
          <input class="form-control" type="text" data-ng-model="header.value"/>
        </div>
        <div class="col-xs-1">
          <button class="btn btn-default" type="button" data-ng-click="headerInputDelete($index)" data-ng-hide="api.headers.length == 1">x</button>
        </div>
      </div>
    </div>
    <br/>

    <div class="row form-group">
      <div class="col-xs-12">
        <div class="col-xs-3"></div>
        <div class="col-xs-3">
          <button class="btn btn-primary btn-lg" type="submit" formnovalidate>API 추가</button>
        </div>
        <div class="col-xs-3">
          <button class="btn btn-danger btn-lg" type="button" data-ng-click="apiCreateCancel()">추가 취소</button>
        </div>
        <div class="col-xs-offset-3"></div>
      </div>
    </div>
  </form>
</div>
