<div class="container container-style" data-ng-init="init()">
  <div class="row">
    <p class="lead">API 목록</p>
  </div>
  <hr/>
  <div class="row form-group">
    <div class="col-xs-12">
      <div class="col-xs-6">
        <span class="text-info h4 form-group">프로젝트 목록</span>
      </div>
      <div class="col-xs-6">
        <span class="text-info h4 form-group">프로젝트 prefix</span>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-12">
      <div class="col-xs-6">
        <select class="form-control" data-ng-options="project.name for project in projectList" data-ng-model="mProject" data-ng-change="projectSelectChange(mProject)"></select>
      </div>
      <div class="col-xs-6">
        <select class="form-control" data-ng-options="prefix.name for prefix in mProject.prefixes" data-ng-model="mPrefix"></select>
      </div>
    </div>
  </div>
  <br/><br/><br/>

  <div class="row form-group">
    <div class="col-xs-12">
      <span class=" col-sm-2 text-info h4">번호</span>
      <span class="col-sm-6 text-center text-info h4">RESTful API URL / 별명</span>
      <span class="col-sm-4 text-info h4">API 수정, 삭제, 테스트</span>
    </div>
  </div>

  <div class="row form-group" data-ng-repeat="api in mProject.apiList">
    <div class="panel span-list-group col-sm-12">
      <span class="text-center col-sm-1"><h5>{{itemIndex($index)}}</h5></span>
      <span class="text-center col-sm-6"><h5>{{api.name}}</h5></span>
      <span class="btn btn-warning col-sm-1 span-list-margin" data-ng-click="apiUpdate(api)">수정</span>
      <span class="btn btn-danger col-sm-1 span-list-margin" data-ng-click="apiDelete(api)">삭제</span>
      <span class="btn btn-primary col-sm-2 span-list-margin" data-ng-click="apiTest(api)">API 테스트</span>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item" data-ng-if="paging.leftBtn" data-ng-click="movePage('left')">
            <a class="page-link" href="" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item" data-ng-class="{active : paging.currentPage == $index+1}" data-ng-repeat="pageCnt in paging.pageCnt track by $index"><a class="page-link" href="" data-ng-click="movePage($index)">{{paging.startCnt + $index}}</a></li>
          <li class="page-item" data-ng-if="paging.rightBtn" data-ng-click="movePage('right')">
            <a class="page-link" href="" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
