<div class="container container-style" data-ng-init="testInit()">
  <div class="row">
    <p>테스트</p>
  </div>
  <hr/>

  <div class="row form-group">
    <div class="col-xs-12">
      <div class="col-xs-6">
        <span class="text-info h4 form-group">프로젝트 목록</span>
      </div>
      <div class="col-xs-6">
        <span class="text-info h4 form-group">API 목록</span>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-12">
      <div class="col-xs-6">
        <select class="form-control" data-ng-options="project.name for project in projectList" data-ng-model="mProject" data-ng-change="projectSelectChange(mProject)"></select>
      </div>
      <div class="col-xs-6">
        <select class="form-control" data-ng-options="api.name for api in apiList" data-ng-model="mApi" data-ng-change="apiSelectChange(mApi)"></select>
      </div>
    </div>
  </div>
  <br/><br/><br/>

  <div class="row form-group">
    <div class="col-xs-12">
      <div class="col-xs-12">
        <span class="text-info h4 form-group">데이터 목록</span>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-12">
      <div class="col-xs-12">
        <select class="form-control" data-ng-options="data.name for data in dataList" data-ng-model="mData" data-ng-change="dataSelectChange(mData)"></select>
      </div>
    </div>
  </div>
  <br/><br/>

  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-9">
      <label>주소 한꺼번에 입력</label>
      <input class="form-control-static checkbox-inline" type="checkbox" style="margin-left: 1em;" data-ng-model="mApi.isEditOnce"/>
    </div>
  </div>

  <form class="form-group" name="form" data-ng-submit="test()" formnovalidate>
    <div class="row form-group">
      <div class="col-xs-12">
        <div class="col-xs-3">
          <label>HTTP 메소드</label>
          <input class="form-control" type="text" data-ng-model="mApi.httpMethod"/>
        </div>
        <div data-ng-switch="mApi.isEditOnce">
          <div data-ng-switch-default>
            <div class="col-xs-3">
              <label>prefix</label>
              <select class="form-control" data-ng-options="prefix.name for prefix in mProject.prefixes" data-ng-model="mPrefix"></select>
            </div>
            <div class="col-xs-6">
              <label>URI</label>
              <input class="form-control" type="text" data-ng-model="mApi.uri"/>
            </div>
          </div>
          <div data-ng-switch-when="true">
            <div class="col-xs-9">
              <label>URL</label>
              <input class="form-control" type="text" data-ng-model="mApi.url"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>

    <div class="row form-group">
      <div class="col-xs-12">
        <div class="col-xs-3">
          <label>파라미터 키</label>
        </div>
        <div class="col-xs-8">
          <label>파라미터 값</label>
        </div>
      </div>

      <div class="col-xs-12" data-ng-repeat="param in data.params track by $index">
        <div class="col-xs-3">
          <input class="form-control" type="text" data-ng-model="param.key" data-ng-change="paramKeyChange(param, $index, $last)"/>
        </div>
        <div class="col-xs-8">
          <input class="form-control" type="text" data-ng-model="param.value"/>
        </div>
        <div class="col-xs-1">
          <button class="btn btn-default" type="button" data-ng-click="paramInputDelete($index)" data-ng-hide="data.params.length == 1">x</button>
        </div>
      </div>
    </div>
    <br/><br/>

    <div class="row form-group">
      <div class="col-xs-12">
        <div class="col-xs-3">
          <label>헤더 키</label>
        </div>
        <div class="col-xs-8">
          <label>헤더 값</label>
        </div>
      </div>

      <div class="col-xs-12" data-ng-repeat="header in mApi.headers track by $index">
        <div class="col-xs-3">
          <input class="form-control" type="text" data-ng-model="header.key" data-ng-change="headerKeyChange(header, $index, $last)"/>
        </div>
        <div class="col-xs-8">
          <input class="form-control" type="text" data-ng-model="header.value"/>
        </div>
        <div class="col-xs-1">
          <button class="btn btn-default" type="button" data-ng-click="headerInputDelete($index)" data-ng-hide="mApi.headers.length == 1">x</button>
        </div>
      </div>
    </div>
    <br/><br/>

    <div class="row form-group">
      <div class="col-xs-12">
        <div class="col-xs-3"></div>
        <div class="col-xs-3">
          <button class="btn btn-primary btn-lg" type="submit" formnovalidate>테스트</button>
        </div>
        <div class="col-xs-3">
          <button class="btn btn-danger btn-lg" type="button" data-ng-click="testCancel()">테스트 초기화</button>
        </div>
        <div class="col-xs-offset-3"></div>
      </div>
    </div>
  </form>
</div>
