<div class="container container-style" data-ng-init="init()">
  <div class="row">
    <p>데이터 추가</p>
  </div>
  <hr/>

  <form class="form-group" name="form" data-ng-submit="dataCreate(data)" formnovalidate>
    <div class="row form-group">
      <div class="col-xs-12">
        <div class="col-xs-12">
          <input class="form-control" name="name" type="text" data-ng-model="data.name" required/>
          <div data-ng-if="form.$submitted || form.name.$touched">
            <label class="text-danger" data-ng-if="form.name.$error.required">데이터 이름을 입력해 주세요</label>
          </div>
        </div>
      </div>
    </div>
    <br/>

    <div class="row form-group">
      <div class="col-xs-12">
        <div class="col-xs-3">
          <label>파라미터 키</label>
        </div>
        <div class="col-xs-8">
          <label>파라미터 값</label>
        </div>
      </div>

      <div class="col-xs-12" data-ng-repeat="param in data.params track by $index">
        <div class="col-xs-3">
          <input class="form-control" type="text" data-ng-model="param.key" data-ng-change="paramKeyChange(param, $index, $last)"/>
        </div>
        <div class="col-xs-8">
          <input class="form-control" type="text" data-ng-model="param.value"/>
        </div>
        <div class="col-xs-1">
          <button class="btn btn-default" type="button" data-ng-click="paramInputDelete($index)" data-ng-hide="data.params.length == 1">x</button>
        </div>
      </div>
    </div>
    <br/><br/>

    <div class="row form-group">
      <div class="col-xs-12">
        <div class="col-xs-3"></div>
        <div class="col-xs-3">
          <button class="btn btn-primary btn-lg" type="submit" formnovalidate>데이터 추가</button>
        </div>
        <div class="col-xs-3">
          <button class="btn btn-danger btn-lg" type="button" data-ng-click="dataCreateCancel()">추가 취소</button>
        </div>
        <div class="col-xs-offset-3"></div>
      </div>
    </div>
  </form>
</div>
