<div class="main-intro azul">
  <div class="container">
    <div class="text-center" style="margin-top : 120px">
      <h1>My Easy RestFul API</h1>
    </div>
  </div>
</div>
<div class="container" data-ng-if="isVisibleByAuth('user') && isDataExist" data-ng-init="mainGraphInit()">
  <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series"></canvas>
</div>
<div class="center-block">
  <div class="page">
    <div class="line center-block">
      <div class="tile verde" data-ng-if="isVisibleByAuth('guest')" data-ui-sref="user.register">
        <i class="fa fa-user-plus fa-3x icon-color" aria-hidden="true"></i>
        <div>
          <br/><br/><br/>
          <h4 class="icon-color">계정을 등록하여 프로젝트를 관리하세요.</h4>
          <br/>
          <h5>어디서나 계정을 통해 프로젝트를 관리할 수 있습니다.</h5>
        </div>
      </div>
      <div class="tile verde" data-ui-sref="project.list">
        <div class="text-center">
          <i class="fa fa-folder-open fa-3x icon-color" aria-hidden="true"></i>
          <div>
            <br/><br/><br/>
            <h4 class="icon-color">프로젝트 별 그룹을 따로 만들어 관리하세요.</h4>
            <br/>
            <h5>프로젝트 별로 API 테스트 그룹을 만들 수 있습니다.</h5>
          </div>
        </div>
      </div>
      <div class="tile verde" data-ui-sref="api.list">
        <div class="text-center">
          <i class="fa fa-paper-plane fa-3x icon-color" aria-hidden="true"></i>
          <div>
            <br/><br/><br/>
            <h4 class="icon-color">Restful API 통신 테스트를 쉽게 진행하세요.</h4>
            <br/>
            <h5>API 정보를 생성하고 쉽게 통신 테스트와 결과를 테스트 할 수 있습니다.</h5>
          </div>
        </div>
      </div>
      <div class="tile verde" data-ui-sref="data.test">
        <div class="text-center">
          <i class="fa fa-pencil-square-o fa-3x icon-color" aria-hidden="true"></i>
          <div>
            <br/><br/><br/>
            <h4 class="icon-color">테스트 결과를 저장하고, 사용하세요.</h4>
            <br/>
            <h5>API 테스트 결과를 저장하고 다른 API 테스트에 사용할 수 있습니다.</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
