<div class="container container-style" data-ng-init="init()">
  <div class="row">
    <p class="lead">프로젝트 목록</p>
  </div>
  <hr/>
  <div class="row form-group">
    <div class="col-sm-12">
      <span class="col-sm-2 text-info h4">번호</span>
      <span class="col-sm-6 text-center text-info h4">프로젝트 이름/별명</span>
      <span class="col-sm-4 text-info h4">프로젝트 수정, 삭제</span>
    </div>
  </div>
  <div class="row form-group" data-ng-repeat="project in projectList track by $index">
    <div class="panel span-list-group col-sm-12">
      <span class="text-center col-sm-1"><h5>{{itemIndex($index)}}</h5></span>
      <span class="text-center col-sm-8"><h5>{{project.name}}</h5></span>
      <span class="btn btn-warning col-sm-1 span-list-margin" data-ng-click="projectUpdate(project)">수정</span>
      <span class="btn btn-danger col-sm-1 span-list-margin" data-ng-click="projectDelete(project)">삭제</span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item" data-ng-if="paging.leftBtn" data-ng-click="movePage('left')">
            <a class="page-link" href="" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item" data-ng-class="{active : paging.currentPage == $index+1}" data-ng-repeat="pageCnt in paging.pageCnt track by $index"><a class="page-link" href="" data-ng-click="movePage($index)">{{paging.startCnt + $index}}</a></li>
          <li class="page-item" data-ng-if="paging.rightBtn" data-ng-click="movePage('right')">
            <a class="page-link" href="" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
