<div class="container container-style" data-ng-init="createInit()">
  <div class="row">
    <p class="lead">프로젝트 추가</p>
  </div>
  <hr/>

  <form class="form-group" name="form" data-ng-submit="projectCreate(project)" formnovalidate>
    <div class="row form-group">
      <div class="col-xs-12">
        <div class="col-xs-8">
          <label>프로젝트 이름</label>
          <input class="form-control" type="text" name="name" data-ng-model="project.name" required/>
          <div data-ng-if="form.$submitted || form.name.$touched">
            <label class="text-danger" data-ng-if="form.name.$error.required">프로젝트 이름을 입력해 주세요.</label>
          </div>
        </div>
      </div>
    </div>
    <br/>

    <div class="row form-group">
      <div class="col-xs-12">
        <div class="col-xs-3">
          <label>prefix 이름</label>
        </div>
        <div class="col-xs-8">
          <label>프로젝트 URL prefix</label>
        </div>
      </div>
      <div class="col-xs-12" data-ng-repeat="prefix in project.prefixes">
        <div class="col-xs-3">
          <input class="form-control" type="text" name="prefixName" placeholder="{{drawPlaceholder($first, '사용자')}}" data-ng-model="prefix.name" data-ng-change="prefixNameChange(prefix, $last, $index)" data-ng-required="!$last"/>
        </div>
        <div class="col-xs-8">
          <input class="form-control" type="text" name="prefixValue" placeholder="{{drawPlaceholder($first, 'http://example.com:8080/project/user/')}}" data-ng-model="prefix.value" data-ng-required="!$last"/>
        </div>
        <div class="col-xs-1">
          <button class="btn btn-default" type="button" data-ng-click="prefixInputDelete($index)" data-ng-hide="project.prefixes.length == 1">x</button>
        </div>
        <div class="col-xs-12">
          <div data-ng-if="!$last && form.$submitted">
            <label class="text-danger" data-ng-if="!$last && (!prefix.name || !prefix.value)">이름 또는 값을 입력해 주세요.</label>
          </div>
        </div>
      </div>
    </div>
    <br/>

    <div class="row form-group">
      <div class="col-xs-12">
        <div class="col-xs-12">
          <label>프로젝트 설명</label>
          <textarea class="form-control textarea-resize-off" rows="6" data-ng-model="project.description"></textarea>
        </div>
      </div>
    </div>
    <br/>

    <div class="row form-group">
      <div class="col-xs-12">
        <div class="col-xs-3"></div>
        <div class="col-xs-3">
          <button class="btn btn-primary btn-lg" type="submit" formnovalidate>프로젝트 추가</button>
        </div>
        <div class="col-xs-3">
          <button class="btn btn-danger btn-lg" type="button" data-ng-click="projectCreateCancel()">추가 취소</button>
        </div>
        <div class="col-xs-offset-3"></div>
      </div>
    </div>
  </form>

</div>
