<div class="container container-style">
  <div class="row">
    <p class="lead">아이디 찾기</p>
  </div>
  <hr/>

  <div class="row text-center" data-ng-if="fdAccount">
    <label class="text-danger">입력된 정보의 계정은 다음과 같습니다.</label>
    <div class="h1">{{fdAccount}}</div>
    <br/><br/>
  </div>

  <form name="faForm" data-ng-submit="findAccount(faName, faEmail)">
    <div class="row">
      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="input-group col-sm-8">
          <span class="input-group-addon">이름</span>
          <input class="form-control" type="text" name="name" placeholder="또는 닉네임" data-ng-model="faName" required/>
        </div>
        <div class="text-center" data-ng-if="faForm.$submitted">
          <label class="text-danger" data-ng-if="faForm.name.$error.required">이름 또는 닉네임을 입력해 주세요.</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="input-group col-sm-8">
          <span class="input-group-addon">이메일</span>
          <input class="form-control" type="email" name="email" placeholder="abc@example.com" data-ng-model="faEmail" required/>
        </div>
        <div class="text-center" data-ng-if="faForm.$submitted">
          <label class="text-danger" data-ng-if="faForm.email.$error.required">이메일을 입력해 주세요.</label>
          <label class="text-danger" data-ng-if="faForm.email.$invalid && !faForm.email.$error.required">이메일 형식으로 입력해 주세요.</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <button class="btn btn-primary btn-lg btn-group-justified" type="submit" formnovalidate>찾기</button>
        </div>
      </div>
    </div>
  </form>
</div>
