<div class="container container-style">
  <div class="row">
    <p class="lead">비밀번호 재설정</p>
  </div>
  <hr/>

  <div class="row text-center" data-ng-if="fpTempPassword">
    <label class="text-danger">{{fpAccount}} 계정의 임시 비밀번호 입니다.</label>
    <div class="h1">{{fpTempPassword}}</div>
    <br/><br/>
  </div>

  <form name="fpForm" data-ng-submit="findPassword(fpAccoumt, fpName, fpEmail)">
    <div class="row">
      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="input-group col-sm-8">
          <span class="input-group-addon">아이디</span>
          <input class="form-control" name="account" type="text" data-ng-model="fpAccount"/>
        </div>
        <div class="text-center" data-ng-if="fpForm.$submitted">
          <label class="text-danger" data-ng-if="fpForm.account.$error.required">계정을 입력해 주세요.</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="input-group col-sm-8">
          <span class="input-group-addon">이름</span>
          <input class="form-control" name="name" type="text" placeholder="또는 닉네임" data-ng-model="fpName"/>
        </div>
        <div class="text-center" data-ng-if="fpForm.$submitted">
          <label class="text-danger" data-ng-if="fpForm.name.$error.required">이름 또는 닉네임을 입력해 주세요.</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="input-group col-sm-8">
          <span class="input-group-addon">이메일</span>
          <input class="form-control" name="email" type="email" placeholder="abc@example.com" data-ng-model="fpEmail"/>
        </div>
        <div class="text-center" data-ng-if="fpForm.$submitted">
          <label class="text-danger" data-ng-if="fpForm.email.$error.required">이메일을 입력해 주세요.</label>
          <label class="text-danger" data-ng-if="fpForm.email.$invalid && !fpForm.email.$error.required">이메일 형식으로 입력해 주세요.</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <button class="btn btn-primary btn-lg btn-group-justified" type="submit" formnovalidate>임시 비밀번호 받기</button>
        </div>
      </div>
    </div>
  </form>
</div>
