<div class="container container-style">
  <div class="row">
    <p class="lead">로그인</p>
  </div>
  <hr/>

  <div class="row">
    <div class="form-group">
      <div class="col-sm-2"></div>
      <div class="input-group col-sm-8">
        <span class="input-group-addon">아이디</span>
        <input class="form-control" type="text" data-ng-model="loginUser.account" dr-enter="login(loginUser, isAutoLogin)"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="col-sm-2"></div>
      <div class="input-group col-sm-8">
        <span class="input-group-addon">비밀번호</span>
        <input class="form-control" type="password" data-ng-model="loginUser.password" dr-enter="login(loginUser, isAutoLogin)"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="col-xs-2"></div>
      <div class="col-xs-8">
        <button class="btn btn-primary btn-lg btn-group-justified" type="button" data-ng-click="login(loginUser, isAutoLogin)">로그인</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-10">
        <div class="checkbox">
          <label>
            <input type="checkbox" data-ng-model="isAutoLogin"/> 자동 로그인
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group text-center">
      <a class="list-unstyled" data-ui-sref="user.register">계정 등록</a>
      <span class="">|</span>
      <a class="list-unstyled" data-ui-sref="user.find.account">아이디 찾기</a>
      <span class="">|</span>
      <a class="list-unstyled" data-ui-sref="user.find.password">비밀번호 찾기</a>
    </div>
  </div>
</div>
