<div class="container container-style" data-ng-init="init()">
  <div class="row">
    <p class="lead">계정 등록</p>
  </div>
  <hr/>

  <form name="form" data-ng-submit="register()">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="input-group col-sm-8">
        <span class="input-group-addon">아이디</span>
        <input class="form-control" type="text" name="account" placeholder="영문자로 시작하는 5-30자의 영문, 숫자" style="ime-mode: active;" data-ng-pattern="/^[A-Za-z]+[A-Za-z0-9+]{4,29}$/" data-ng-model="user.account" required/>
      </div>
      <div class="text-center" data-ng-if="form.$submitted">
        <label class="text-danger" data-ng-if="form.account.$error.required">아이디를 입력해 주세요.</label>
        <label class="text-danger" data-ng-if="form.account.$error.pattern">영문과 숫자로만 5자에서 30자를 입력해 주세요.</label>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-sm-2"></div>
      <div class="input-group col-sm-8">
        <span class="input-group-addon">비밀번호</span>
        <input class="form-control" type="password" name="password" placeholder="최소 5자 이상" data-ng-minlength="5" data-ng-model="user.password" required/>
      </div>
      <div class="text-center" data-ng-if="form.$submitted">
        <label class="text-danger" data-ng-if="form.password.$error.required">비밀번호를 입력해 주세요.</label>
        <label class="text-danger" data-ng-if="form.password.$error.minlength">최소 5자리 이상 입력해 주세요.</label>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-sm-2"></div>
      <div class="input-group col-sm-8">
        <span class="input-group-addon">비밀번호 확인</span>
        <input class="form-control" type="password" name="passwordConfirm" data-ng-model="user.passwordConfirm" required/>
      </div>
      <div class="text-center" data-ng-if="form.$submitted && !form.password.$error.required">
        <label class="text-danger" data-ng-if="form.passwordConfirm.$error.required">비밀번호를 확인해 주세요.</label>
        <label class="text-danger" data-ng-if="isNotBothPasswordMatch">비밀번호가 다릅니다.</label>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-sm-2"></div>
      <div class="input-group col-sm-8">
        <span class="input-group-addon">이메일</span>
        <input class="form-control" type="email" name="email" placeholder="abc@example.com" data-ng-model="user.email" required/>
      </div>
      <div class="text-center" data-ng-if="form.$submitted">
        <label class="text-danger" data-ng-if="form.email.$error.required">이메일을 입력해 주세요.</label>
        <label class="text-danger" data-ng-if="form.email.$invalid && !form.email.$error.required">이메일 형식으로 입력해 주세요.</label>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-sm-2"></div>
      <div class="input-group col-sm-8">
        <span class="input-group-addon">이름</span>
        <input class="form-control" type="text" name="name" placeholder="또는 닉네임" data-ng-model="user.name" required/>
      </div>
      <div class="text-center" data-ng-if="form.$submitted">
        <label class="text-danger" data-ng-if="form.name.$error.required">이름 또는 닉네임을 입력해 주세요.</label>
      </div>
    </div>
    <br/><br/>

    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-4">
        <button class="btn btn-primary btn-lg" type="submit" formnovalidate>등록 완료</button>
      </div>
      <div class="col-xs-4">
        <button class="btn btn-danger btn-lg" type="button" data-ng-click="init()">다시 입력</button>
      </div>
      <div class="col-xs-offset-3"></div>
    </div>
  </form>
</div>
