<div class="container container-style" data-ng-init="infoInit()">
  <div class="row">
    <p class="lead">내 정보</p>
  </div>
  <hr/>

  <div data-ng-show="!enterPassword">
    <form name="pifForm" data-ng-submit="enterPasswordForMyInfo(piPassword)">
      <div class="row text-center">
        <label class="text-danger">비밀번호를 한 번 더 입력해 주세요.</label>
      </div>
      <br/>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="input-group col-sm-8">
          <span class="input-group-addon">비밀번호</span>
          <input class="form-control" type="password" name="password" placeholder="로그인 시 입력했던 비밀번호" data-ng-model="piPassword" required/>
        </div>
        <div class="text-center" data-ng-if="pifForm.$submitted">
          <label class="text-danger" data-ng-if="pifForm.password.$error.required">비밀번호를 입력해 주세요.</label>
        </div>
        <div class="col-sm-offset-2"></div>
      </div>
      <br/>
      <div class="text-center">
        <button class="btn btn-primary btn-lg" type="submit" formnovalidate>확인</button>
      </div>
    </form>
    <br/>
  </div>
  <div data-ng-show="enterPassword">
    <form name="ifForm" data-ng-submit="infoUpdate(myInfo)">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="input-group col-sm-8">
          <span class="input-group-addon">아이디</span>
          <input class="form-control" type="text" data-ng-model="myInfo.account" disabled required/>
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col-sm-2"></div>
        <div class="input-group col-sm-8">
          <span class="input-group-addon">이메일</span>
          <input class="form-control" type="email" name="email" data-ng-model="myInfo.email" required/>
        </div>
        <div class="text-center" data-ng-if="ifForm.$submitted">
          <label class="text-danger" data-ng-if="ifForm.email.$error.required">이메일을 입력해 주세요.</label>
          <label class="text-danger" data-ng-if="ifForm.email.$invalid && !ifForm.email.$error.required">이메일 형식으로 입력해 주세요.</label>
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col-sm-2"></div>
        <div class="input-group col-sm-8">
          <span class="input-group-addon">이름</span>
          <input class="form-control" type="text" name="name" data-ng-model="myInfo.name" required/>
        </div>
        <div class="text-center" data-ng-if="ifForm.$submitted">
          <label class="text-danger" data-ng-if="ifForm.name.$error.required">이름을 입력해 주세요.</label>
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col-sm-2"></div>
        <div class="input-group col-sm-8">
          <span class="input-group-addon">가입일</span>
          <input class="form-control" type="text" data-ng-model="myInfo.insertDate" disabled/>
        </div>
      </div>
      <br/>

      <div class="row" data-ng-if="myInfo.updateDate != null">
        <div class="col-sm-2"></div>
        <div class="input-group col-sm-8">
          <span class="input-group-addon">정보 수정일</span>
          <input class="form-control" type="text" data-ng-model="myInfo.updateDate" disabled/>
        </div>
      </div>
      <br/>
      <div class="text-center">
        <button class="btn btn-primary btn-lg" type="submit" formnovalidate>정보수정</button>
      </div>
    </form>
  </div>
  <div class="text-center" data-ng-show="enterPassword && !changePasswordForm" style="margin-top : 5em;">
    <button class="btn btn-default" type="button" data-ng-click="changePasswordForm = true">비밀번호 변경</button>
  </div>
  <div data-ng-show="changePasswordForm">
    <form class="form-group" name="cpForm" data-ng-submit="changePassword(cp)">
      <div class="row" style="margin-top : 5em;">
        <div class="col-sm-2"></div>
        <div class="input-group col-sm-8">
          <span class="input-group-addon">변경 할 비밀번호</span>
          <input class="form-control" type="password" name="password" placeholder="최소 5자 이상" data-ng-minlength="5" data-ng-model="cp.password" required/>
        </div>
        <div class="text-center" data-ng-if="cpForm.$submitted">
          <label class="text-danger" data-ng-if="cpForm.password.$error.required">비밀번호를 입력해 주세요.</label>
          <label class="text-danger" data-ng-if="cpForm.password.$error.minlength">최소 5자리 이상 입력해 주세요.</label>
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col-sm-2"></div>
        <div class="input-group col-sm-8">
          <span class="input-group-addon">변경 할 비밀번호 확인</span>
          <input class="form-control" type="password" name="passwordConfirm" data-ng-model="cp.passwordConfirm" required/>
        </div>
        <div class="text-center" data-ng-if="cpForm.$submitted && !form.password.$error.required">
          <label class="text-danger" data-ng-if="cpForm.passwordConfirm.$error.required">비밀번호를 확인해 주세요.</label>
          <label class="text-danger" data-ng-if="isPNotBothPasswordMatch">비밀번호가 다릅니다.</label>
        </div>
      </div>
      <br/>

      <div class="text-center">
        <button class="btn btn-primary btn-lg" type="submit" formnovalidate>비밀번호 변경</button>
      </div>
    </form>
  </div>
</div>
