.icon-color {
  color : #fff
}

.icon-background-round {
  background-color: #fff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
}

.main-intro {
  height: 300px;
  margin-bottom: 100px;
}

.amarelo {
  background: #DAA520;
}

.vermelho {
  background: #CD0000;
}

.azul {
  background: #4682B4;
}

.verde {
  background-color: #2E8B57;
}

.tile {
  height: 300px;
  width: 300px;
  float: left;
  margin: 0 20px 20px 0;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.tile:hover,
.tile:focus,
.tile.focus {
  background-color: #4682B4;
}

.tile-large {
  width: 210px;
}

body {
  padding: 20px;
}

.page {
  width: auto;
  height: auto;
  margin: 150px
}

.line {
  width: auto;
  padding: 5px;
  height: auto;
  display: table;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.textarea-resize-off {
  resize : none;
}

.container-style {
  background-color: #e5e5e5;
  padding : 3em;
  /*border: 1px solid;*/
}

.input-group-margin {
  margin : 0.3em 0em 0.3em 0em;
}

.span-list-group {
  border : 1px solid #222;
  padding : 0.5em;
  background-color: #b3d4fc;
  height: 4em;
  line-height: 3.5em;
}

.span-list-group span {
  vertical-align: middle;
  display: inline-block;
}

.span-list-group {
  vertical-align: middle;
  display: inline-block;
}

.span-list-margin {
  margin: 0em 0.5em 0em 0.5em;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus,
.list-group-item:hover,
.list-group-item:focus {
  z-index: 2;
  color: #fff;
  background-color: #222;
  border-color: #222;
}

.modal-backdrop {
  background: none;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
