<div class="modal-header" data-ng-init="init()">
  API 수정
</div>

<div class="container-style modal-body">
  <form class="form-group" name="form" data-ng-submit="projectCreate(wrap.value)">
    <div class="row form-group">
      <div class="col-xs-12">
        <label>프로젝트 이름</label>
        <div class="col-xs-12">
          <label class="form-control">{{wrap.value.project.name}}</label>
        </div>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-12">
          <label>API 이름</label>
          <input class="form-control" type="text" data-ng-model="wrap.value.api.name"/>
        </div>
      </div>
    </div>
    <br/><br/>

    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-9">
        <label>주소 한꺼번에 입력</label>
        <input class="form-control-static checkbox-inline" type="checkbox" style="margin-left: 1em;" data-ng-model="wrap.value.api.isEditOnce"/>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-xs-12">
        <div class="col-xs-3">
          <label>HTTP 메소드</label>
          <div data-ng-switch="wrap.value.httpMethod.value">
            <div data-ng-switch-default>
              <select class="form-control" data-ng-options="httpMethod.key for httpMethod in wrap.value.httpMethods" data-ng-model="wrap.value.httpMethod"></select>
            </div>
            <div data-ng-switch-when="etc">
              <input class="form-control" type="text" data-ng-model="wrap.value.api.httpMethod"/>
            </div>
          </div>
        </div>
        <div data-ng-switch="wrap.value.api.isEditOnce">
          <div data-ng-switch-default>
            <div class="col-xs-3">
              <label>prefix</label>
              <select class="form-control" data-ng-options="prefix.name for prefix in wrap.value.prefixes" data-ng-model="wrap.value.prefix"></select>
            </div>
            <div class="col-xs-6">
              <label>URI</label>
              <input class="form-control" type="text" data-ng-model="wrap.value.api.uri"/>
            </div>
          </div>
          <div data-ng-switch-when="true">
            <div class="col-xs-9">
              <label>URL</label>
              <input class="form-control" type="text" data-ng-model="wrap.value.api.uri"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>

    <div class="row form-group">
      <div class="col-xs-12">
        <div class="col-xs-3">
          <label>파라미터 키</label>
        </div>
        <div class="col-xs-8">
          <label>파라미터 값</label>
        </div>
      </div>
      <div class="col-xs-12" data-ng-repeat="param in wrap.value.api.params track by $index">
        <div class="col-xs-3">
          <input class="form-control" type="text" data-ng-model="param.key" data-ng-change="inputNameChange(param, 'key', $last, $index, wrap.value.api.params, {key : '', value : ''})"/>
        </div>
        <div class="col-xs-8">
          <input class="form-control" type="text" data-ng-model="param.value"/>
        </div>
        <div class="col-xs-1">
          <button class="btn btn-default" type="button" data-ng-click="inputDelete($index, wrap.value.api.params)" data-ng-hide="wrap.value.api.params.length == 1">x</button>
        </div>
      </div>
    </div>
    <br/>

    <div class="row form-group">
      <div class="col-xs-12">
        <div class="col-xs-3">
          <label>헤더 키</label>
        </div>
        <div class="col-xs-8">
          <label>헤더 값</label>
        </div>
      </div>
      <div class="col-xs-12" ng-style="" data-ng-repeat="header in wrap.value.api.headers track by $index">
        <div class="col-xs-3">
          <input class="form-control" type="text" data-ng-model="header.key" data-ng-change="inputNameChange(header, 'key', $last, $index, wrap.value.api.headers, {key : '', value : ''})"/>
        </div>
        <div class="col-xs-8">
          <input class="form-control" type="text" data-ng-model="header.value"/>
        </div>
        <div class="col-xs-1">
          <button class="btn btn-default" type="button" data-ng-click="inputDelete($index, wrap.value.api.headers)" data-ng-hide="wrap.value.api.headers.length == 1">x</button>
        </div>
      </div>
    </div>
    <br/>
  </form>
</div>

<div class="modal-footer">
  <div class="row form-group">
    <div class="col-md-12 text-center">
      <span class="btn btn-lg btn-primary span-list-margin" data-ng-click="ok()">완료</span>
      <span class="btn btn-lg btn-warning span-list-margin" data-ng-click="close()">취소</span>
    </div>
  </div>
</div>
