<div class="modal-header" data-ng-init="init()">
  API 테스트 결과
</div>

<div class="container-style modal-body">
  <div class="row form-group">
    <uib-accordion close-others="true">
      <div class="panel-default" data-ng-repeat="result in wrap.value.apiTestResultList track by $index" uib-accordion-group="" heading="{{result.url}}" is-open="false" data-ng-click="accordionOpen('apiTestResult', result)">
        <div class="row form-group">
          <div class="col-md-12" style="overflow : scroll; overflow-x:hidden; height : 500px;">
            <label>API 결과 값</label>
            <h6>저장할 값을 체크해 주세요.</h6>
            <div class="row form-group" data-ng-repeat="keyValue in result.resultKeyValues track by $index">
              <div class="panel col-sm-12">
                <div class="col-sm-3">
                  <input class="form-control" type="text" data-ng-model="keyValue.key" readonly/>
                </div>
                <div class="col-sm-8">
                  <input class="form-control" type="text" data-ng-model="keyValue.value" readonly/>
                </div>
                <div class="col-sm-1">
                  <input class="checkbox" type="checkbox" data-ng-model="result.resultKeyValues[$index].isChecked"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </uib-accordion>
  </div>
</div>

<div class="modal-footer">
  <div class="row form-group">
    <div class="col-md-12 text-center">
      <span class="btn btn-lg btn-primary span-list-margin" data-ng-click="ok()">완료</span>
      <span class="btn btn-lg btn-warning span-list-margin" data-ng-click="close()">취소</span>
    </div>
  </div>
</div>
