<div class="modal-header" data-ng-init="init()">
  API 테스트
</div>

<div class="container-style modal-body">
  <div class="row form-group">
    <div class="col-md-12">
      <label>API 정보</label>
      <input class="form-control" type="text" value="{{wrap.value.api.name + ' : ' + wrap.value.res.config.method + ' ' + wrap.value.res.config.url}}" readonly/>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-12">
      <label>API 테스트 결과</label>
      <textarea class="form-control textarea-resize-off" rows="20" data-ng-model="wrap.value.res.encData" readonly></textarea>
    </div>
  </div>
</div>

<div class="modal-footer">
  <div class="row form-group">
    <div class="col-md-12 text-center">
      <span class="btn btn-lg btn-primary span-list-margin" data-ng-click="ok()">완료</span>
      <span class="btn btn-lg btn-warning span-list-margin" data-ng-click="close()">취소</span>
    </div>
  </div>
</div>
