<div class="modal-header" data-ng-init="init()">
  데이터 추가
</div>

<div class="container-style modal-body">
  <form class="form-group" name="form" data-ng-submit="ok()">
    <div class="row form-group">
      <div class="col-xs-12">
        <label>데이터 이름</label>
        <div class="col-xs-12">
          <input class="form-control" name="name" type="text" data-ng-model="wrap.value.data.name" required/>
          <div data-ng-if="form.$submitted || form.name.$touched">
            <label class="text-danger" data-ng-if="form.name.$error.required">데이터 이름을 입력해 주세요.</label>
          </div>
        </div>
      </div>
    </div>
    <br/>

    <div class="row form-group">
      <div class="col-xs-12">
        <div class="col-xs-3">
          <label>파라미터 키</label>
        </div>
        <div class="col-xs-8">
          <label>파라미터 값</label>
        </div>
      </div>
      <div class="col-xs-12" data-ng-repeat="param in wrap.value.data.params track by $index">
        <div class="col-xs-3">
          <input class="form-control" type="text" data-ng-model="param.key" data-ng-change="inputNameChange(param, 'key', $last, $index, wrap.value.data.params, {key : '', value : ''})"/>
        </div>
        <div class="col-xs-8">
          <input class="form-control" type="text" data-ng-model="param.value"/>
        </div>
        <div class="col-xs-1">
          <button class="btn btn-default" type="button" data-ng-click="inputDelete($index, wrap.value.data.params)" data-ng-hide="wrap.value.data.params.length == 1">x</button>
        </div>
      </div>
    </div>
    <br/>
  </form>
</div>

<div class="modal-footer">
  <div class="row form-group">
    <div class="col-md-12 text-center">
      <span class="btn btn-lg btn-primary span-list-margin" data-ng-click="ok()">완료</span>
      <span class="btn btn-lg btn-warning span-list-margin" data-ng-click="close()">취소</span>
    </div>
  </div>
</div>
