<div class="modal-header" data-ng-init="init()">
  프로젝트 수정
</div>

<div class="container-style modal-body">
  <form class="form-group" name="form" data-ng-submit="projectCreate(wrap.value)">
    <div class="row form-group">
      <div class="col-xs-12">
        <div class="col-xs-8">
          <label>프로젝트 이름</label>
          <input class="form-control" type="text" name="name" data-ng-model="wrap.value.name" required/>
          <div data-ng-if="form.$submitted || form.name.$touched">
            <label class="text-danger" data-ng-if="form.name.$error.required">프로젝트 이름을 입력해 주세요</label>
          </div>
        </div>
      </div>
    </div>
    <br/>

    <div class="row form-group">
      <div class="col-xs-12">
        <div class="col-xs-3">
          <label>prefix 이름</label>
        </div>
        <div class="col-xs-8">
          <label>프로젝트 URL prefix</label>
        </div>
      </div>
      <div class="col-xs-12" data-ng-repeat="prefix in wrap.value.prefixes">
        <div class="col-xs-3">
          <input class="form-control" type="text" placeholder="{{drawPlaceholder($first, '사용자')}}" data-ng-model="prefix.name" data-ng-change="inputNameChange(prefix, 'name', $last, $index, wrap.value.prefixes, {name : '', value : ''})"/>
        </div>
        <div class="col-xs-8">
          <input class="form-control" type="text" placeholder="{{drawPlaceholder($first, 'http://example.com:8080/project/user/')}}" data-ng-model="prefix.value"/>
        </div>
        <div class="col-xs-1">
          <button class="btn btn-default" type="button" data-ng-click="inputDelete($index, wrap.value.prefixes)" data-ng-hide="wrap.value.prefixes.length == 1">x</button>
        </div>
        <div class="col-xs-12">
          <div data-ng-if="form.$submitted">
            <label class="text-danger" data-ng-if="(prefix.name == '' || prefix.value == '') && !$last">이름 또는 값을 입력해 주세요.</label>
          </div>
        </div>
      </div>
    </div>
    <br/>

    <div class="row form-group">
      <div class="col-xs-12">
        <div class="col-xs-12">
          <label>프로젝트 설명</label>
          <textarea class="form-control textarea-resize-off" rows="6" data-ng-model="wrap.value.description"></textarea>
        </div>
      </div>
    </div>
    <br/>
  </form>
</div>

<div class="modal-footer">
  <div class="row form-group">
    <div class="col-md-12 text-center">
      <span class="btn btn-lg btn-primary span-list-margin" data-ng-click="ok()">완료</span>
      <span class="btn btn-lg btn-warning span-list-margin" data-ng-click="close()">취소</span>
    </div>
  </div>
</div>
