<div class="navbar navbar-full navbar-inverse bg-faded" data-ng-controller="HeaderCtrl" data-ng-init="init()">
  <a class="navbar-brand" data-ui-sref="home">My Easy RestFul API</a>
  <a class="navbar-brand" href="" data-ng-if="isVisibleByAuth('user')" data-ng-click="openSidebar()">Side bar</a>
  <a class="navbar-brand pull-right" data-ng-if="isVisibleByAuth('guest')" data-ui-sref="user.login">Login</a>
  <ul class="nav navbar-nav pull-right" data-ng-if="isVisibleByAuth('user')">
    <li class="nav-item" data-ng-if="apiTestResultListLength()"><a href="" data-ng-click="apiTestResultClick()">API Test Responses<span class="badge" style="background-color: #b92c28;">{{apiTestResultCount}}</span></a></li>
    <li class="nav-item"><a class="btn" data-ng-if="isVisibleByAuth('user')" data-ui-sref="user.info">my Info</a></li>
    <li class="nav-item"><a class="btn" data-ng-click="logout()">Logout</a></li>
  </ul>
</div>
