<div style="background-color : #222">
  <h1 class="text-center" style="color : #fff">메뉴</h1>
</div>

<ul class="list-group">

</ul>

<uib-accordion close-others="true">
  <div class="sidebarGroup text-center" data-ng-repeat="group in sGroups" uib-accordion-group="" heading="{{group.name}}" is-open="false">
    <a class="list-group-item active" data-ng-class="{'action' : item.isActive}" data-ng-repeat="item in group.items" data-ui-sref="{{item.state}}" data-ui-sref-active-eq="active">{{item.name}}</a>
  </div>
</uib-accordion>
